@font-face {
  font-family: "Morion";
  src: url("../assets/morion.woff") format("woff");
}
:root {
  --primary-bg: #fff5df;
  --gold: #8a733e;
  --tan: #b7a26e;
  --old-lace: #fff8e7;
  --cream: #fff5df;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  cursor: none;
}

body {
  background-color: var(--primary-bg);
  /* cursor: none; */
}

.cursor-wrapper {
  pointer-events: none;
  z-index: 100;
  cursor: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cursor {
  height: 12px;
  /* text-align: center; */
  background-color: var(--gold);
  width: 12px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.1s, opacity 0.2s;
}

.cursor:hover {
  transform: scale(1.5);
  opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}
