:root {
  --blue: #3898ec;
}

#contact-section {
  /* height: 100vh; */
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 4rem;
  position: relative;
}

.contact-section-child {
  width: 65vw;
  display: flex;
  /* padding-bottom: 3rem; */
}

.contact-left {
  flex: 0.5;
}

.contact-left h1 {
  font-size: 3.75rem;
  color: var(--gold);
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Morion", "Arial";
  line-height: 4.3rem;
  margin-bottom: 2rem;
}

.contact-left p {
  font-family: "Open Sans", sans-serif;
  color: var(--gold);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.contact-left p span {
  font-weight: 600;
}

.contact-right {
  flex: 0.5;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-right form label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--gold);
  font-size: 0.9rem;
}

.contact-right form input {
  border: 1px solid var(--gold);
  background-color: var(--old-lace);
  height: 2.3rem;
  /* vertical-align: middle; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: 0;
}

.contact-right form input:focus,
.contact-right form textarea:focus {
  border-color: var(--blue);
}

.contact-right form textarea {
  border: 1px solid var(--gold);
  background-color: var(--old-lace);
  height: 8rem;
  padding: 0.5rem;
  outline: 0;
}

.contact-right form button {
  width: 30%;
  height: 2.5rem;
  border: 1px solid var(--gold);
  background-color: var(--cream);
  text-decoration: none;
  color: var(--gold);
  font-size: 1.1rem;
  font-family: "Morion", sans-serif;
  letter-spacing: 2px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1rem;
}

.contact-right form button:hover {
  background-color: var(--gold);
  color: var(--cream);
}

hr {
  /* margin-top: 10px; */
  width: 65vw;
  border: none;
  background-color: var(--gold);
  height: 1px;
}

.about-flowers {
  width: 20%;
  height: 50%;
  /* aspect-ratio: 1; */
  position: absolute;
  bottom: 10%;
  left: 0;
}
