.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.heroBushes {
  width: 100vw;
  /* background-color: red; */
  /* background: url('../assets/heroFlowers.png'); */
  background-size: cover;
  position: fixed;
  z-index: -5;
  top: 0;

  background-repeat: no-repeat;

  /* height: min-content; */
  height: 100%;
}
.kaliPatti {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -10;
  background-size: cover;

  background-repeat: no-repeat;

  height: 100%;
}
.heroFlowers {
  width: 100vw;
  /* position: sticky;

  top: 0; */
  /* z-index: 10; */
  background-size: cover;
  object-fit: cover;

  background-repeat: no-repeat;

  height: 100%;
}

.hero-name {
  font-family: "Morion", sans-serif;
  font-size: 7rem;
  position: relative;
  top: 15rem;
  z-index: -10;
  color: var(--gold);
  animation: moveUp 1s ease-in forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
